#main-container {
    margin-top: 2%;
    /* width: 586px;
    height: 660px; */
}

#input-row {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    /* background: #FFFFFF; */
}

#add-btn {
    margin: 10px;
}

#collection-row {
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 20px;
    /* background: #FFFFFF; */
}

#todo-list {
    word-wrap: break-word;
}